h3{
    color: white;
    background-color: rgb(215, 35, 35);
    font-size: 80px;
}
h5{
    color: aqua;
    background-color: darkorange;
    font-size: 80px;
}
h1{
    color: deeppink;
    background-color: cornsilk;
    font-size: 80px;
    text-align: center;
    scroll-snap-align: inherit;
}