h3{
    color: yellow;
    background-color: rgb(255, 0, 204);
    font-size: 80px;
    text-align: center;
}
h5{
    color: aqua;
    background-color: darkorange;
    font-size: 80px;
    text-align: center;
}
/* h1{
    color: deeppink;
    background-color: cornsilk;
    font-size: 80px;
    text-align: center;
    scroll-timeline: inherit;

} */
.heading6{
    font-size: 50px;
    color: blue;
    background-color: black;
}
.parel{
    font-size: 50px;
    color: aqua;
    background-color: azure;
}
#heading1{
    font-size: 50px;
    color: rgb(0, 255, 123);
    background-color:black;

}
#heading2{
    font-size: 50px;
    color: rgb(234, 255, 0);
    background-color:blueviolet;

}
#heading_bg_color{

    background-color:blueviolet;

}
#heading_font_size{
    font-size: 50px;
  
}
#heading_color{
 
    color: rgb(255, 0, 85);
 

}
#heading_1{
    color: brown;
    font-size: 50px;
    background-color: blue;
}
.t_transform_uppercase{
    text-transform: uppercase;
}
.t_transform_lowercase{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.t_decor_underling{
    text-decoration: underline;
}
.t_decor_overline{
    text-decoration: overline;
}
.t_decor_lineThrough{
    text-decoration: line-through;
}
.t_decor_all{
    text-decoration: overline underline line-through;
}
.t_align_l{
    text-align: left;
}
.t_align_c{
    text-align: center;
}
.t_align_r{
    text-align: right;
}
.t_shadow{
    font-size: 90px;
    color: blue;
    text-shadow: 8px 9px 4px red;
}
.t_indent{
    text-indent: 100px;
}
.word_space{
    word-spacing: 50px;
}
.word_letter{
    letter-spacing: 10px;
}
.line_height{
    line-height: 50px;
}
.f_family1{
    font-family: cursive;
}
.f_family2{
    font-family: fantasy;
}
.f_family3{
    font-family: monospace;
}
.f_family4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.f_weight{
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    font-variant: small-caps;
}
.t_shadow{
    text-shadow:2px 8px 7px red ;
    color: blue;
    font-size: 70px;
    text-align: center;
}
.b_shadow{
    width: 400px;
    box-shadow: 6px 7px 8px red;
}
.b_shadow2{
    width: 400px;
    box-shadow: 6px 7px 8px red;
}
.d_shadow{
    width: 500px;
    box-shadow: 6px 7px 8px red;
}
.d_shadow2{
    width: 400px;
    box-shadow: 6px 7px 8px red;
}
.b_property1{
    border: 25px inset red;

}
.b_property2{
    border: 12px solid gold;

}
.b_property3{
    border: 12px groove aqua;
    border-top-color: blueviolet;
    border-right-color: aquamarine;
    border-bottom-color: blue;
    border-left-color: gold;
    border-radius: 50px 140px 20px 100px;

}
.b_property4{
    border: 12px inset burlywood;

}
.b_model{
    border: 5px solid red;
    padding: 40px;
    margin: 80px;
}
.b_model2{
    border: 6px solid rgb(0, 81, 255);
    padding: 20px 50px 20px 50px;
    margin: 40px 100px 40px 100px;
}
.b_image{

    border: 3px solid aqua;
    padding: 30px;
    margin: 40px;
}
.box{
    width: 200px;
    height: 150px;
    border: 4px solid rebeccapurple;
    margin-bottom: 10px;
    padding: 20px;
    background-color: aqua;
}
.box1{
    position: static;
   
}
.box2{
    position: relative;
    left: 300px;
    top: 30px;
}
.box3{
    position: absolute;
    left: 300px;
    top: 20px;
}
.box4{
    position: sticky;
    top: 20px;
}
.box5{
    position: fixed;
    right: 10px;
    bottom: 0px;
}
.linear{
    height: 400px;
    background: linear-gradient(to right,red,yellow,aqua,gray);
}
.bg_heading{
    margin-top: 50px;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
}
.radial{
    height: 600px;
    background: radial-gradient(circle,black,red,blue,green,yellow);
}
.conic{
    height: 600px;
    background: conic-gradient(from 45deg,  red,blue,aqua,yellow,black);
}
.flex-items{
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 140px;
    margin-top: 10px;
    color: white;
    font-size: 50px;
    border: 3px solid red;
    border-radius: 10px;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    justify-content: center;
    list-style: none;
    align-items: center;
}

.flex-image{
    width: 100%;
}
.bg_image_example{
    background-color: black;
    background-image: url(../images1/nature.image.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_headings{
    padding-top: 60px;
    font-size: 60px;
    color: aqua;
    text-align: center;
}
uk{
    width: 200px;
    padding: 15px;
    list-style-type: none;
    font-weight: 900;
}
li{
    padding: 10px;
    border: 10px solid red;
    margin-bottom: 5px;
    border-radius: 10px;

}
/* .list_item{
    background-color:black;
    color: white;
}
.list_item1{
    background-color: aqua;
    color: black;
} */
 /* li:-child(even){
    background-color: cadetblue;
 }
 li:nth-child(odd){
    background-color: black;
    color: white;
 } */
 li:first-child{
    background-color: aqua;
 }
 li:last-child{
    background-color: blueviolet;
 }
 li:nth-child(3){
    background-color: blue;
 }
 .b_container{
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding:100px;
 }
 .s_box{
    background-color: rgb(165, 42, 126);
    color: white;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 5px solid blueviolet;
    transition: transform 2s ease-in;
    
 }
.b1:hover{
    transform: translate(220px,125px);
    background-color: cadetblue;
}
.b2:hover{
    transform: translateX(220px);
    background-color: coral;
}
.b3:hover{
    transform: translateY(220px);
    background-color: deeppink;
}
.b4:hover{
    transform: rotate(360deg);
    background-color: aqua;
}
.b5:hover{
    transform: skewx(90deg);
    background-color: dodgerblue;
}
.b6:hover{
    transform: scale(1.2);
    background-color: chartreuse;
}